.item {
  height: 100px;
  width: 90%;
  background-color: #525252;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.price {
  color: black;
  background-color: #dbd8e3;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: gray solid 3px;
}
.date {
  color: black;
  padding: 1rem 2rem;
  background-color: #dbd8e3;
  border-radius: 20px;
  border: gray solid 3px;
}

.itemImage {
  height: 60px;
  border-radius: 5px;
}
