@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500;1,600&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.hola {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main {
  background-color: #313131;
  width: 60%;
  height: 800px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.shadow {
  box-shadow: 10px 5px 20px 3px rgba(0, 0, 0, 0.2);
}

.item {
  height: 100px;
  width: 90%;
  background-color: #525252;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.price {
  background-color: #dbd8e3;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: gray solid 3px;
}
.date {
  padding: 1rem 2rem;
  background-color: #dbd8e3;
  border-radius: 20px;
  border: gray solid 3px;
}
