@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
* {
  font-family: "Barlow", sans-serif;
}
/* NAVBAR START */
.navbar {
  background-color: #3ebfff;
}

#contact {
  background-color: white;
  color: black;
  border-radius: 15px;
}

.navbar-brand {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
/* NAVBAR END */

/* HEADER START */
header {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
header img {
  width: 100%;
  max-height: 950px;
}
#title {
  padding-top: 100px;
  position: absolute;
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: white;
}

/* HEADER END */

/* MAIN START */

main {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightgray;
  grid-gap: 20px;
}
footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
/* MAIN END */
h4 {
  font-size: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

/* TESTIMONIALS START */
#testimonials {
  padding: 0 8%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8rem;
}
.testimonial {
  width: 370px;
  padding: 0 2rem;
}
.testimonial img {
  margin: 4rem;
  height: 60px;
  border-radius: 50%;
}
.testimonial p {
  margin-bottom: 4rem;
}
h3 {
  color: rgb(153, 152, 152);
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  padding-top: 8rem;
  text-align: center;
}
h5 {
  font-size: 0.8rem;
  color: rgb(129, 122, 122);
}
/* TESTIMONIALS END */

/* Footer start */
.footer-end {
  color: hsl(168, 34%, 41%);
  background-color: #a0ddce;
}
.footer-end li {
  list-style: none;
}
.footer-end ul {
  display: flex;
  padding: 0 2rem;
}
.footer-end li:hover {
  color: white;
}
